.navigationList {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 1304px) {
  .pageContainer {
    display: grid;
    grid-template-columns: 180px 1028px;
    column-gap: 20px;
    margin-top: 48px;
  }

  .navigationList {
    display: block;
    color: #0364ed;
  }

  .navigationItem {
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
