.container {
  max-width: 640px;
  padding-bottom: 40px;
  margin: 40px auto 0;
}

.header {
  text-align: center;
}

.header p,
.header .title {
  margin-bottom: 16px;
}

.container .card {
  margin-bottom: 40px;
  border-radius: 10px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 350px) {
    flex-direction: column-reverse;
    text-align: center;
  }
}

.button {
  min-width: 173px;
  min-height: 40px;
  margin-right: 32px;
  color: #fff;
  cursor: pointer;
  background-color: #0364ed;
  border: none;
  border-radius: 8px;

  @media (max-width: 350px) {
    margin-right: 0;
    margin-top: 32px;
  }
}
