.container {
  max-width: 849px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.card {
  margin-bottom: 20px;
  border-radius: 10px;
}

.button {
  padding: 9px 16px;
  margin-right: 32px;
  color: #fff;
  cursor: pointer;
  background-color: #0364ed;
  border: none;
  border-radius: 8px;
}
