.container {
  max-width: 640px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.header .title {
  margin-bottom: 16px;
}

.info {
  padding: 0 40px;
}

.info p {
  margin-bottom: 16px;
}

.container .card {
  margin-bottom: 40px;
  border-radius: 10px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.button {
  min-width: 173px;
  min-height: 40px;
  margin-right: 32px;
  color: #fff;
  cursor: pointer;
  background-color: #0364ed;
  border: none;
  border-radius: 8px;
}
